@model PeopleViewModel

@{
    ViewData["Title"] = "DisplayPeopleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form action="PeopleIndex" method="post">
    <p>Enter Name or City to search for, or empty to see whole result.</p>
    <p><input type="text" name="searchSubject" placeholder="Enter Name or City" /></p>
    @*<p><input type="text" name="_city" placeholder="Enter City to search for" /></p>*@

    <p><input type="submit" name="submit" value="Search" class="btn btn-dark" /></p>
</form>

@if (PeopleViewModel.Message != null)
{
    <h4>@PeopleViewModel.Message</h4>
    <h4>@PeopleViewModel.Message2</h4>
}

<p>

    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (PeopleViewModel.tempSearchList.Count == 0)
    {
        <tbody>
            @foreach (var item in Model.tempList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>@Html.ActionLink("Delete", "Delete", new { Id = item.Id })</td>

                </tr>
            }
        </tbody>
    }
    @if (PeopleViewModel.tempSearchList.Count != 0)
    {
        <tbody>
            @foreach (var item in PeopleViewModel.tempSearchList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                </tr>
            }
        </tbody>
    }

</table>