@model PeopleViewModel

@{
    ViewData["Title"] = "List in Partial View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                Enter Name or City to search for, or empty to see whole result.
            </th>
        </tr>
        <tr>
            <td>
                <form action="PeopleIndex" method="post">
                    <input type="text" name="searchSubject" placeholder="Enter Name or City" />
                    <input type="submit" name="submit" value="Search" class="btn btn-dark" />
                </form>
            </td>
            <td>
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if (PeopleViewModel.Message != null)
                {
                    <h5>@PeopleViewModel.Message</h5>
                    <h5>@PeopleViewModel.Message2</h5>
                }
            </td>
        </tr>
        
    </thead>
</table>

<table class="table">
    <thead>        
        <tr>
            <th>
                @Html.ActionLink("Sort", "SortAlpha", null, new { _sortCriteria = "Name", _landingPage = "PeoplePartial"})<br />
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.ActionLink("Sort", "SortAlpha", null, new { _sortCriteria = "City", _landingPage = "PeoplePartial" })<br />
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (PeopleViewModel.TempSearchList.Count == 0)
    {
        <tbody>

            @foreach (var item in Model.TempList)
            {
                <tr>
                    <partial name="PeoplePartialView" model="item" />
                </tr>
            }
        </tbody>
    }

    @if (PeopleViewModel.TempSearchList.Count != 0)
    {
        <tbody>
            @foreach (var item in PeopleViewModel.TempSearchList)
            {
            <tr>
                <partial name="PeoplePartialView" model="item" />

            </tr>
            }
        </tbody>
    }
</table>