@model GuessingGameModel

@{
    ViewData["Title"] = "GuessingGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>Enter a number between 1 and 100 to guess the hidden number!</p>

<form action="GuessingGame" method="post">
    <p><input type="number" name="_GuessedNumber" value="0" /></p>
    <p><input type="submit" name="submit" value="Send" /></p>
</form>

@if (Model != null)
{
    <p>@GuessingGameModel.RndNumber</p>
    <p>@GuessingGameModel.GuessedNumber</p>
    <p>@GuessingGameModel.Message</p>

}

@if (GuessingGameModel.Win == true)
{
    <form action="NewGame" method="post">
        <p>
            <input type="button" value="New Game" onclick="location.href='@Url.Action("GuessingGame")'" />
        </p>
    </form>

    <p>List of Guesses:</p>
    @foreach (var item in GuessingGameModel.ShowGuesses)
    {
        <p>@item</p>
    }

    @*<p>List of Guesses in Session state:</p>
    @foreach (var item in GuessingGameModel.ShowGuesses)
    {
        <p>@item</p>
    }*@

}

